/* index.html*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
    background-color: #ffffff;  
    text-align: center;
    height: 418vh;
}
nav{
    display: flex;
    flex-direction: column;    
}
.open{
    display: flex;
    justify-content: start;    
    margin-top: .5rem;
    margin-bottom: .4rem;
    align-items: center;
    width: fit-content;
    margin-left: .5rem;

}
.open img{   
   align-self: center; 
   height: 2rem;   
}
.open img:hover{
    height: 2.5rem;
    box-shadow: 2px 3px 6px #333, -2px -3px 6px #333;
}

.close {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 10rem;
    background-color: #333;
    display: flex;
    flex-direction: column;
    color: #ffffff;
    align-items: center;
    gap: 10px;
}
.close img{
    height: 2rem;
    margin-top: .3rem;
    align-self: flex-end;
    margin-right: .3rem;
    border-radius: 50px;
}
.close img:hover{
    height: 2.5rem;
    box-shadow: 2px 3px 6px #e7e7e7, -2px -3px 6px #e7e7e7;
}
.close ul{
    margin-top: 20px;
    line-height: 40px;
    text-align: justify;
    list-style: none;
    width: 100%;    
}
.close a {
    text-decoration: none;
    color: #ffffff;
}
.close a:hover{
    text-decoration: none;
}
.close ul li:not(.active){
    background-color: #858484;
    margin-top: 10px;
    padding-left: 5px;
}
.active{
    margin-top: 10px;
    color: #333;
    background-color: #ffffff;
    padding-left: 5px;    
}

.close ul li:not(.active):hover{
    color: #333;
    background-color: #ffffffbe;
}
header {
    margin-top: 10px;
    border-top: 1px inset;
    border-bottom: 1px outset;
    word-wrap: break-word;
    padding: 20px 0 60px;
    line-height: 3em;    
}
h1 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
}
.colors {
    background: linear-gradient(45deg, green, red, black);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.green{
    color: rgba(0, 128, 0, 0.822);
}
.tagline {
    font-size: 1.2rem;
    color: #333;
    font-style: italic;
    letter-spacing: 1px;
}
.tagline:hover {
    text-decoration: underline;
}
.tagline {
    animation: fadeIn 2s ease-in-out;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.location{
    margin: 10px auto 0;
    border: 1px solid rgba(139, 126, 126, 0.626);
    height: 2.3rem;
    width: 30%;
    border-radius: 20px;
    display: flex;
}
.location:hover{
    box-shadow: 4px 4px 6px #e7e7e7, -4px -4px 6px #e7e7e7;
}
#location{
    width: 80%;
    border-radius: 20px;
    text-indent: .7rem;
    background-color: transparent;
    border-color: transparent;
    outline: none;    
}
.location img{
    margin-left: .1125rem;
    height: 80%;
    align-self: center;
}
.location button{
    border-radius: 20px;
    padding: 0 .5rem 0 .5rem;
    border-color: transparent;
}
.location button:hover{
    text-decoration: underline;
    font-size: 1em;
}
.container{    
    max-width: 100%;
    background: linear-gradient(45deg, rgb(23, 224, 224),rgb(0, 128, 66));
    padding-top: 3rem;    
}
.container h2 ,.container p{
    line-height: 2em;
}
.cards{
    margin: auto ;
    display: grid;
    gap: 10px;
    row-gap: 50px;
    column-gap: 70px;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    width: 100%;
    padding: 50px;       
}
.card{      
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: hsl(0, 0%, 99%);
    justify-content: center;
    align-items: center;
    /* box-shadow: 4px 4px 6px #e7e7e77e, -4px -4px 6px #e7e7e7a3; */
    padding-bottom: 1.5rem;
    border-radius: 15px;
    transition-duration: 300ms;
    transition-property: box-shadow;
}
.card:hover{
    box-shadow: 4px 4px 6px #e7e7e77e, -4px -4px 6px #e7e7e7a3;
}
.images{    
    height: 100%;
    max-height: 100px;
    align-self: flex-start;
}
img{
    height: 100%;
    margin-left: 1.1125rem;
    max-width: 100%;   
}
.text h2, .text p{
    line-height: 3em;
}
.info{
    align-self: flex-start;
    padding: .2rem 3rem .4rem;
    margin-top: .5rem;
    font-size: smaller;
}
.card-h3{    
    align-self: flex-start;
    padding: 0 3rem 0;
}
.ratings{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 100%;
    padding: .5rem 0 .5rem 3rem;
}
.ratings img {    
    height: 1.5rem;
}
.card button{
    border: 2px solid;
    width: 100%;
    min-width: 100%;
    align-self: center;
}
.display-details{
    font-size: smaller;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0.8em .9rem 0 0.8em;
    width: 100%;
    min-width: 100%;
}
.display-details a{
    display: flex;
}
.display-details :hover{    
    color: rgba(49, 49, 49, 0.696);
    cursor: pointer;
}
.extra{
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-left: 1px solid;
    list-style: none;
    text-align: justify;
    letter-spacing: .07em;
    font-size: smaller;
    line-height: 1.4em;
    align-self: flex-end;
    margin-right:3.3em ;
}
.card a button{
    width:6rem;
    height: 2rem;
    margin: 1rem;
    border-radius: 15px;
    border-style: ridge;
    border-width: 1px;
    border-color: #d4cece94;
    font-size: 2.8vh;
}
.card a button:hover{
    background-color: hsla(0, 0%, 20%, 0.42);
    border: #ffffff;   
}
.card:last-child{
    grid-column: 1/span 2;
    justify-self: center;    
    width: 50%;
    padding: 50px;  
}
.compare-container{
    line-height: 3rem;
    padding-top: 1rem;
}
.compare-details{
    border: 2px solid;
    margin: 0 4rem;
    padding: 0.5em 1em ;
    display: flex;
    flex-direction: column; 
    border-radius: 30px;   
}
.selectors{
    border-radius: 10px;
    width:20%;
    height: 2rem;
}
.selectors:hover{
    border-color: #333;
    border-width: 2px;
}
.compare-details button{
    width:7rem;
    height: 3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    align-self: center;   
    border-radius: 30px;
    outline: none;
    border-style: solid;
    background-color: #333333ab;
}
.compare-details button:hover{
    background-color: hsla(0, 0%, 20%, 0.42);
}
footer{
    border: 2px solid;
}

/* sign in and login html pages' styling */
.wrapper{
    border: 1px solid;
    box-shadow: 16px 16px 6px #e7e7e780, -10px -10px 6px #e7e7e780;
    box-sizing: border-box;
    background-color:#ffffff;
    height: 100vh;
    width: max(40%,600px);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}
h1{
    font-size: 3rem;
    font-weight: 300;
    text-transform: uppercase;
}
form{
    width: min(400px, 100%);
    margin-top: 20px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
form > div{
    width: 100%;
    display: flex;
    justify-content: center;
}
form label{
    flex-shrink: 0;
    height: 50px;
    width: 50px;
    background-color:hsla(0, 0%, 20%, 0.42);
    fill: red;
    border-radius: 10px 0 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 500;
}

form input{
    box-sizing: border-box;
    flex-grow: 1;
    min-height: 0;
    height: 50px;
    padding: 1em;
    font: inherit;
    border-radius: 0 10px 10px 0;
}
form input:hover{
    border-color: hsl(0, 0%, 99%);
}
form button{
    margin-top: 10px;
    padding: .85em 4em;
    font: inherit;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 15px;
    border-style: ridge;
    border-width: 1px;
    border-color: #d4ceceb5;
}
form button:hover{
    border-color: #333;
    border-width: 1px;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
@media(max-width:1100px){
    .wrapper{
        width: min(600px, 100%);
        border-radius: 0;
    }
}

form div.incorrect label{
    background-color: tomato;
}
form div.incorrect input{
    border-color: tomato;
}